:root {
  --blue-dark : #39c6d7;
  --blue-light : #73bfc4;
  --rose : #dda295;
  --taupe : #8c8074;
  --beige : #d1ccc8;
  --noir : #303538;

  font-size: 62.5%;
}

/*font 
font-family: 'Architects Daughter', cursive;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height:100vh;
  color: var(--noir);
  font-family: 'Montserrat', sans-serif;
  
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: 'Architects Daughter', cursive;
  
}


@media screen and (min-width: 320px) {


  /*nav*/
  nav {
      height: 250px;
  }

  .accueil {
    width: 100%;
    height: 100px;
    min-height: 900px;
    position: relative;

    background-image: url('./images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;

  }

  h1 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    padding-top: 120px;
  }

  h2 {
    text-align: center;
    font-size: 2.8rem;
  }

  /*btn-burger*/

  .navigationIcon {
    z-index: 1000;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 55px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }

  .barre {
    background: var(--taupe);
    opacity: 0.7;
    width: 50px;
    height: 5px;
  }

  .b1 {
    position: relative;
    top: -10px;
    transition: all 0.2s;
  }

  .b2 {
    transition: all 0.2s;
  }

  .b3 {
    position: relative;
    top: 10px;
    transition: all 0.2s;
  }

  .titre {
    position: absolute;
    top: 45px;
    right: 120px;
    z-index: 1000;
    font-size: 3rem;
    font-weight: bold;
    color: var(--rose);
    font-family: 'Architects Daughter', cursive;

  }

  .titre-2 {
    display: none;
  }


  /*menu*/

  .container-menu {
    z-index: 900;
    width: 100%;
    height: 100%;
    background: var(--beige);
    position: absolute;
    left: -100%;
    top: 0;
  }

  .menu {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template: repeat(5,110px) / 400px;
  }

  .menu-item {
    justify-self: center;
    align-self: center;
  }

  .menu-item span {
    display: inline-block;
    font-family: 'Architects Daughter', cursive;
  }

  .item {
    font-size: 35px;
    color: white;
  }

  /*effet hover nav items*/

  a {
    background: linear-gradient(to top, transparent 10%, var(--blue-dark) 10.1%, var(--blue-dark) 40%, transparent 40.01%) no-repeat;
    transition: background-size .5s;
    background-size: 0 100%;
  }
  
  a:nth-child(2) {
    background: linear-gradient(to top, transparent 10%, var(--rose) 10.1%, var(--rose) 40%, transparent 40.01%) no-repeat;
    transition: background-size .5s;
    background-size: 0 100%;

  }

  a:hover {
    background-size: 100% 100%;
  }

  /*section presentation*/
  .presentation {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 30px;

  }


  h3 {
    font-size: 2.2rem;
    padding-bottom: 20px;
    text-align: center;
    color:var(--blue-dark) ;
  }

  .presentation p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2;
    /* margin-right: 20px; */
  }

  .presentation a {
    color: var(--blue-dark);
    font-weight: bold;
  }

  .img1, 
  .img2 {
    display: none;
  } 

  .presentation .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .presentation .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*animation icon*/

  .presentation i {
    font-size: 10rem;
    padding: 20px;
    color: var(--rose);
    opacity: 1;
    animation-name: fondu;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  @keyframes fondu {
    0%{opacity: 1;}
    10%{opacity: 0.5;}
    20%{opacity: 0.25;}
    30%{opacity: 0;}
    70%{opacity: 0;}
    80%{opacity: 0.25;}
    90%{opacity: 0.5;}
    100%{opacity: 1;}
  }
  .icon .label {
    position: absolute;
    width: 50%;
    height: 100px;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
    animation-name: fondu-inv;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    color: var(--blue-dark);
  }

    @keyframes fondu-inv {
      0%{opacity: 0;}
      20%{opacity: 0;}
      30%{opacity: 0.25;}
      40%{opacity: 0.65;}
      50%{opacity: 1;}
      60%{opacity: 0.65;}
      70%{opacity: 0.25;}
      100%{opacity: 0;}
    }

    /*footer*/

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      position:fixed;
      width: 100%;
      bottom: 0;
      height: 80px;
      background: linear-gradient(transparent, var(--beige));
    
   }
    
    .footer-social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 50%;
    }

    .footer-social i {
      font-size: 4rem;
      color: var(--taupe);
    }

    /*page projets*/

    section {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;
    }
    section a {
      color: var(--noir);
      font-size: 1.5rem;
      padding-bottom: 30px;
      font-weight: bold;
    }

    .realisation,
    .animations {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 100px;
      padding-right: 100px;
    }
    
    .site-adobe {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .site-adobe a:not(:first-child) {
      font-weight:normal;
      font-size: 1.2rem;
    }
    .site-adobe a {
      padding-bottom: 20px;
    }
}

@media screen and (min-width: 500px) {

  .accueil {
    background-image: url('./images/bg-header-tablette.png');
    min-height: 1100px;
  }

  /*section presentation*/
  h3 {
    font-size: 2.5rem;
  
  }
  .text-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
      width: 90%;
      display: flex;
    }  
  
  .presentation .icons {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .presentation i {
    font-size: 4rem;
  }

  .presentation .label {
    font-size: 2rem;
    padding-top: 30px;
    width: 10%;
  }
}

@media screen and (min-width: 700px) {

  .accueil h1 {
    font-size: 5rem;
  }

  .text {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  
  
  .img1 {
    display: flex;
    justify-content: center; 
  }

}
@media screen and (min-width: 900px) {

  .accueil {
    background-image: url('./images/bg-header-desktop.png');
    /* min-height: 800px; */
  }

  .accueil h1 {
    padding-top: 100px;
  }
  .presentation h3 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {

  .accueil {
    min-height: 950px;
  }
  
  .accueil h1 {
    font-size: 6rem;
  }
  /*presentation*/

  .text-presentation {
    width: 100%;
  }

  .presentation {
    margin-top: 0px;
  }

  .text {
    flex-wrap: nowrap;
    align-items: center;
  }

  .img1 {
    justify-self: right;
  }

  .presentation p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px; 
  }

  /*icons*/

  .presentation i {
    font-size: 10rem;
  }

  .icons {
    padding-top: 25px;
  }
}

@media screen and (min-width: 1500px) {
  .img1 {
    width: 40%;
    justify-self: right;
  }
}


